:root {
    --main-color: #000000;
    --black: #db8044;
    --bg: #d7974dcc;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--bg);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1000px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: var(--bg);
}

.header img {
    height: 80px;
}

.header section {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0 2.5rem;
    font-size: 2rem;
    color: #000000;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.1rem;
    font-size: 2rem;
}

.icons img {
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover {
    width: 40px;
    height: 40px;
}

.btn {
    background: var(--main-color);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    border-radius: 6px;
}

.btn:hover {
    letter-spacing: 0.1rem;
}

.home-container {
    background: url(./assets/empada7.png);
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}

.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content {
    max-width: 60rem;
}

.content h3 {
    color: #000000e7;
    font-size: 6rem;
}

.content p {
    color: #000000e7;
    font-size: 2rem;
    font-weight: 10;
    line-height: 1.8;
    padding: 1rem 0;
}

.title {
    font-size: 4rem;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.title span {
    color: #fff;
    text-transform: uppercase;
}

.about .row {
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1.5rem;
    border-radius: 8px;
}

.about img {
    height: 30rem;
    width: 30rem;
    object-fit: cover;
    padding: 10px;
}

.about .row .content {
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #000000e7;
    padding: 1rem 0;
    line-height: 1.8;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 5rem;
    cursor: pointer;
    border-radius: 8px;
}

.menu .box-container .box:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.menu .box-container .box img {
    height: 10rem;
    margin-bottom: 10px;
}

.menu .box-container .box h3 {
    color: #000000e7;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: #000000e7;
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.menu .frase {
    font-size: 15px;
    margin-bottom: 35px;
    margin-top: 10px;
}

.menu .box-container .box:hover {
    background-color: var(--black);
}

.menu .box-container .box:hover>* {
    color: #fff;
}

.encomend{
    font-size: 1.8rem;
    color: #000000e7;
    padding: 1rem 0;
    line-height: 1.8;
}

.cento {
    font-size: 2rem;
    color: #000000e7;
    padding: 1rem 0;
    line-height: 1.8;
    margin-bottom: 10px;
}


.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box p {
    font-size: 1.5rem;
    color: #fff;
    padding: 2rem 0;
    line-height: 1.8;
    font-weight: lighter;
}

.review .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    margin: 1rem 0;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.address {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contacts {
    text-align: center;
}

.contacts .share {
    padding: 6rem 0;
    background-color: var(--black);
    border-radius: 8px;
    
}

.contacts img {
    height: 130px;
}

.contacts img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}


.share-icon {
    display:inline-block;
    font-size: 15px;
    color: #fff;
    margin-left: 30px;
    margin-top: 20px;
}

.share-icon:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.icon {
    font-size: 30px;
    margin-bottom: 10px;
    color: var(--border);
}

.fa-solid {
    color: #a305d2;
}

.fa-brands {
    color: #5ce128;
}

@media screen and (max-width: 540px) {
    
    .header img {
        margin-left: 18rem;
    
       
    }
   
    .navbar {
        display: none;
    }

    .home-container h3 {
        font-size: 3.5rem;
    }

    .home-container p {
        font-size: 2rem;
    }

    .btn {
        padding: 1rem 1rem;
        font-size: 1.5rem;
    }

    .title {
        font-size: 3.5rem;
    }

    .about .row {
        display: block;
    }

    .about .container-image img {
        width: 100%;
    }

    .about .content p {
        font-size: 4rem;
    }

    .menu .box-container .box {
        padding: 2.5rem;
    }

    .menu .box-container .box .price{
        font-size: 2rem;
    } 

    .review .box-container .box {
        padding: 1rem;
    }

    iframe {
        width: 40rem;
        height: 30rem;
    }

    
}